body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    min-height:100vh;
    display:flex;
    /* flex:1; */
    /* justify-content: center;
    align-items:center; */
    background:linear-gradient(rgb(192, 238, 250),rgb(6, 127, 161));
}


.login-form{
    display:flex;
    /* flex-direction: column; */
    justify-content: center; 
    align-items:center;
    margin:auto auto;
    /* height:100vh;  */
}

.form{
    display:flex;
    flex-direction:column;
    border-radius:0.5rem;
    background-color: rgb(255, 255, 255, 0.5);
    color:black;
    
    
}
input,label,button{
    margin:0.25rem;
    border:none;
    border-radius:0.25rem;
    
}

h2{
    text-align:center;
    margin:0px;
}
.button{
    display:inline;
    margin:0.5rem 2rem;
    border-radius:0.25rem;
    background-color: rgb(7, 72, 104);
    color:bisque;
}

#admin-orders,#admin-tools,#admin-workers{
    display:none;
    padding:1rem;
    border:2px solid black;
    margin:1rem;
    background-color: rgb(7, 72, 104);
    color:white;
    border-radius:0.5rem;
}

.tools-bar{
    display:flex;
    flex-direction: column;
    flex:4;
}

.details-area{
    flex:8;
    /* flex-direction:column; */

}

table,th,td,tr{
    border:2px solid black;
}

.delete-container{
    background-color:rgb(7, 72, 104);
    color:bisque;


}

.update_section{
    background:rgba(255,255,255,0.7);
    padding:1rem;
    margin:0.5rem;


}
 